[Desktop Entry]
Name=MyBreeze-Dark
Comment=Customized Breeze Dark window decoration for KDE Plasma
X-KDE-PluginInfo-Author=MyBreeze-Dark Contributors
X-KDE-PluginInfo-Email=user@example.com
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Name=MyBreeze-Dark
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true
